
<div class="layout-wrapper" [ngClass]="{'layout-menu-slim': slimMenu,
                'layout-menu-overlay': overlayMenu,
                'layout-menu-static': staticMenu,
                'layout-menu-static-inactive': staticMenuInactive,
                'layout-menu-overlay-active': overlayMenuActive,
                'layout-menu-active': mobileMenuActive}">
<!-- Navbar -->
  <div class="topbar">
    <a routerLink="/" class="topbar-logo">
      <img [attr.src]="layout === 'default' ? 'assets/layout/images/logo-ais.png' : 'assets/layout/images/logo-ais.png'"
        style="border: 0 none">
    </a>

    <a href="#" id="menu-button" (click)="onMenuButtonClick($event)">
      <i class="fa fa-bars"></i>
    </a>
    
    <a href="#" id="user-display" (click)="onTopbarMenuButtonClick($event)">
        <!-- <img src="assets/layout/images/avatar1.png" > -->
      <span class="username">Robert Downey Jr.</span>
      <img src="assets/layout/images/avatar4.png" style="border: 0px;display: inline-block">
      <i class="fa fa-angle-down"></i>
      <!-- <label (click)="onTopbarVersionButtonClick($event) ; $event.stopPropagation()" for="topbar-version"
        id="version-display"
        style="position: absolute; bottom:2px; right:10px;font-size:10px;font-weight: bold; color: #73a434;">
        <b>App version : </b>V_{{version}} - <span style="color: gray;font-weight: lighter !important;">build
          {{buildDt}}</span>
      </label> -->
    </a>

    <ul id="topbar-menu" class="fadeInDown" [ngClass]="{'topbar-menu-visible': topbarMenuActive}">
      <li #profile [ngClass]="{'menuitem-active':activeTopbarItem === profile}" (click)="logout()">
        <a href="#">
          <i class="topbar-icon fa fa-fw fa-sign-out"></i>
          <span class="topbar-item-name">Logout</span>
        </a>
      </li>

    </ul>
  </div>

  <div class="layout-main">
    <!-- SideBar -->
    <div class="layout-menu-wrapper" [class.layout-menu-dark]="darkMenu" (click)=onMenuClick($event)>
      <div class="nano">
        <div class="nano-content sidebar-scroll-content">
          <div class="layout-menu-container">
            <div class="mobile-search">
              <i class="fa fa-fw fa-search topbar-search-icon"></i>
              <input type="text" class="topbar-search" placeholder="Type your search here"/>
            </div>
            <!-- main -->
            <ul class="layout-menu" >
            <ng-template ngFor let-child let-i="index" [ngForOf]="(root ? item : item.items)">
              <li [ngClass]="{'active-menuitem': isActive(i)}">
                <a [href]="child.url||'#'" (click)="itemClick($event,child,i)" *ngIf="!child.routerLink && child.visible"  [attr.tabindex]="!visible ? '-1' : null" [attr.target]="child.target"
                   (mouseenter)="hover=true" (mouseleave)="hover=false">
                  <i [ngClass]="child.icon"></i>
                  <span>{{child.label}}</span>
                  <i class="fa fa-fw fa-angle-down" *ngIf="child.items"></i>
                </a>
        
                <a (click)="itemClick($event,child,i)" *ngIf="child.routerLink && child.visible"
                   [routerLink]="child.routerLink" routerLinkActive="active-menuitem-routerlink"  [routerLinkActiveOptions]="{exact: true}" [attr.tabindex]="!visible ? '-1' : null" [attr.target]="child.target"
                   (mouseenter)="hover=true" (mouseleave)="hover=false">
                  <i [ngClass]="child.icon"></i>
                  <span>{{child.label}}</span>
                  <i class="fa fa-fw fa-angle-down" *ngIf="child.items"></i>
                </a>
                <div class="layout-menu-tooltip">
                  <div class="layout-menu-tooltip-arrow"></div>
                  <div class="layout-menu-tooltip-text">{{child.label}}</div>
                </div>
                <!-- sub -->
                <ul  *ngIf="child.items"  [ngStyle]="{'visible': isActive(i) ? 'visible' : 'hidden'}"
                    [@children]="slimMenu&&root ? isActive(i) ? 'visible' : 'hidden' : isActive(i) ? 'visibleAnimated' : 'hiddenAnimated'">
                    <ng-template ngFor let-child let-i="index" [ngForOf]="child.items">
                      
                      <li>
                
                        <a *ngIf="child.routerLink && child.visible"
                           [routerLink]="child.routerLink" routerLinkActive="active-menuitem-routerlink"  [routerLinkActiveOptions]="{exact: true}" [attr.tabindex]="!visible ? '-1' : null" [attr.target]="child.target"
                           (mouseenter)="hover=true" (mouseleave)="hover=false">
                          <i [ngClass]="child.icon"></i>
                          <span>{{child.label}}</span>
                          <i class="fa fa-fw fa-angle-down" *ngIf="child.items"></i>
                        </a>
                        <div class="layout-menu-tooltip">
                          <div class="layout-menu-tooltip-arrow"></div>
                          <div class="layout-menu-tooltip-text">{{child.label}}</div>
                        </div>
                      </li>
                    </ng-template>
                </ul>
              </li>
            </ng-template>
          </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- content -->
    <div class="layout-content">
      <div *ngIf="loading" style="background-position: 60% 52% !important;" id="view-loading-spinner">
      </div>
      <div *ngIf="checkError" style="text-align: center; font-size: 30px; padding-top: 37vh;">Error: Could not connect to the database. Please try again later.</div>
      <div *ngIf="checkAuth" style="text-align: center; font-size: 30px; padding-top: 37vh;">You are not authorized to access this page. Please contact administrator.</div>

      <router-outlet *ngIf="!checkAuth && !checkError"></router-outlet>
    </div>

  </div>

  <div class="layout-mask" *ngIf="mobileMenuActive"></div>
  </div>