<h3 class="first">User List</h3>
<p-table [value]="cars">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Experience</th>
            <th>Role</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
        <tr>
            <td>{{car.name}}</td>
            <td>{{car.year}}</td>
            <td>{{car.experience}}</td>
            <td>{{car.role}}</td>
        </tr>
    </ng-template>
</p-table>
