/* You can add global styles to this file, and also import other style files */

#view-loading-spinner {
  position: fixed;
  // left: 0px;
  // top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('./assets/layout/images/view-loader.gif') no-repeat fixed center #fafafa;
}

#loading-edit {
  width: 3000px;
  height: 3000px;
  background-color: red;
  z-index: 9999 !important;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.5;
}

.tooltip-style {
  text-align: center;
}
.nano>.nano-content.sidebar-scroll-content {
  overflow-y: auto !important;
}

.title-page {
  border-bottom: 1px solid #c1c1c1;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.inputTest{
  height: 33px;
  padding: 0px;
}

.headFrom{
  margin-top: -10px;
}

.rowFromInput{
  height: 25px;
  padding: 0px;
  width: 360px;
}
#header-button-grp {
  text-align: right;
}

#header-button-grp>ul>li>a {
  color: #a8a8a8;
}

#header-button-grp>ul>li>a:hover {
  color: #8dc63f;
  text-decoration: none;
}

.list-inline {
  list-style: outside none none;
  margin-left: -5px;
  padding-left: 0;
  margin-bottom: 0;
}

.list-inline>li {
  display: inline-block;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}

#header-button-grp>ul>li+li::before {
  content: " | ";
  color: #c1c1c1;
  // padding-left: 3px;
  padding-right: 10px;
}

.bf-form-wrapper {
  // .ui-g.form-group{
  .ui-g-1,
  .ui-g-2,
  .ui-g-3,
  .ui-g-4,
  .ui-g-5,
  .ui-g-6,
  .ui-g-7,
  .ui-g-8,
  .ui-g-9,
  .ui-g-10,
  .ui-g-11,
  .ui-g-12 {
    box-sizing: border-box;
    float: left;
    padding: 0.25em 0.35em 0.25em 0.5em !important
  }
  //     }
}

.bf-table-wrapper {
  .ui-datatable-thead {
    .text-nowrap {
      white-space: nowrap;
    }
  }
  .ui-widget-header {
    background-color: #ffffff;
    color: #757575;
    border: 0px solid #c7cdd1 !important;
    font-weight: bold;
  }
  .ui-datatable .ui-datatable-data > tr > td {
    text-overflow: ellipsis;
  }
  .ui-datatable .ui-paginator {
    padding: 1.5em 1em;
  }
  overflow-x: auto;
}

.bf-breadcrumb-wrapper {
  margin-bottom: 5px;
  .ui-widget-header {
    // color: #757575;
    font-weight: normal !important;
    border: none !important;
  }
}

.card.card-w-title.card.card-w-title {
  padding-bottom: 8px !important;
  padding: 8px !important;
}

.bf-fieldset-criteria {
  .ui-fieldset-toggler {
    margin-right: 0em !important;
  }
  .fa-minus::before {
    content: "\f106"!important;
  }
  .fa-plus::before {
    content: "\f107"!important;
  }
}

//  f-fieldset-criteria .ui-fieldset-toggler.ui-icon-plusthick {
// //      content: "\f0c9"!important;
// // }
// // .ui-fieldset.bf-fieldset-criteria .ui-fieldset-toggler.ui-icon-minusthick {
// //      content: "\f0c9" !important;
// // }



#grid .ui-datatable-reflow .ui-datatable-data td .ui-column-title {
  display: block;
}

//to fix nested expand datatable template not show table header
table thead tr th span.ui-column-title {
  display: inline-block !important;
}

.bf-primary-border {
  border-style: solid;
  border-width: 1px;
  border-color: #DCDCDC;
  padding: 10px;
  margin-bottom: 10px;
}

.ui-datatable .ui-paginator {
  border-top: 1px solid #c7cdd1;
}

.col-small-height {
  height: 19px;
}

.border-datagrid{
  min-height: 50px;
  border-style: solid;
  border-color: #DDDDDD;
  border-width: 1px;
  padding-bottom: 30px;
  padding-left: 15px;
}

.border-header-datagrid{
  min-height: 20px;
  border-style: solid;
  border-color: #DDDDDD;
  border-width: 1px;
  padding: 10px 10px 10px 10px;
}

div.ui-treetable-tablewrapper>table>tbody:nth-child(even){background-color: #f6f8f9}
// div.ui-treetable-tablewrapper>table>tbody{border-bottom: 1px solid #c7cdd1;}


input, textarea, select, button {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

input:disabled, textarea:disabled, select:disabled{
  color: rgb(84, 84, 84);
}
//.ui-paginator {
//  border: none !important;
//}

#popuptable>.ui-datatable table{
  width: auto;
  min-width: 100%;
  white-space: nowrap;
}

#button-role .ui-button-text{
  margin-top: -5px;
}

#button-role .ui-button-icon-right{
  margin-right: -5px;
}

.dx-command-select {
  min-width: 150px!important;
}

div.dx-overlay-wrapper {
  z-index: 1000 !important;
}

.ui-calendar button {
  right: 0;
  top: 0;
  padding-right: 0px;
}
.ui-calendar {
  width: 100%;
}

#popRole>div.ui-overlaypanel {
  position: fixed;
}

.header-table {
  padding-left: 0px;
  padding-top: 0px;
  position: relative;
  z-index: 1;
}
//alway show vertical horizontal scrollbar
#gridContainer .dx-scrollable-container {
  height: 96% !important;
  margin-bottom: 18px !important;
  border-bottom: 1px solid #ddd !important;
}
#gridContainer .dx-scrollable-scroll {
  min-height: 18px !important;
}
#gridContainer .dx-scrollbar-hoverable {
  min-height: 18px !important;
}
#gridContainer .dx-scrollbar-vertical .dx-scrollable-scroll {
  min-height: 60px !important;
  min-width: 18px !important;
}
#gridContainer .dx-scrollbar-vertical .dx-scrollbar-hoverable {
  min-height: 60px !important;
  min-width: 18px !important;
}

#gridContainer .dx-scrollbar-horizontal.dx-scrollbar-hoverable {
  margin-bottom: -18px !important;

}

#ddlLovType input{
  width: 360px;
  border-color: #A9A9A9;
}

.circleProfile {
  border: 2px solid #333333;
  border-radius: 138px;
  text-align: center;
  width: 50px;
  height: 50px;
}

.style-auto-complete {
  width: 100% !important;
  padding: 0px !important;
}

.ui-confirmdialog-message {
  white-space: pre-line;
}

.ui-dialog-footer {
  padding: 5px 5px 5px 0px !important;
  text-align: right;
}

.ui-fluid .ui-dropdown {
  width: 62px;
}

.ui-dropdown .ui-dropdown-label {
  width: 60px;
}

.calendar-padding-right {
  padding-right: 0;
  width: 100%;
}
body .ui-tabview .ui-tabview-panel {
  border-style: none;
}

.dx-command-select {
  width: 40px !important;
  min-width: 40px !important;
}
