body {
    .ui-paginator {
        padding: $headerPadding;
        background-color: $paginatorBgColor;
        
        .ui-paginator-first,.ui-paginator-prev,.ui-paginator-next,.ui-paginator-last {
            color: $textColor;
            border: 1px solid transparent;
            @include transition(color .3s);
            
            &:not(.ui-state-disabled):not(.ui-state-active):hover {
                color: $primaryColor;
            }
            
            &:focus {
                outline: 0 none;
                border: 1px solid $primaryColor;
            }
        }
                
        .ui-paginator-pages {
            .ui-paginator-page {
                color: $textColor;
                padding: .1em .5em;
                border: 1px solid transparent;
                @include transition(color .3s);
                
                &.ui-state-active {
                    color: $primaryTextColor;
                }
                
                &:not(.ui-state-active):hover {
                    background-color: $paginatorHoverBgColor;
                }
                
                &:focus {
                    outline: 0 none;
                    border: 1px solid $primaryColor;
                }
            }
        }
    }
    
    .ui-datatable {
        .ui-datatable-header, .ui-datatable-footer {
            padding: $headerPadding;
        }
        
        .ui-datatable-header {
            border-color: $headerBorderColor;
        }
        
        .ui-paginator {
            padding: $headerPadding;
        }
                
        .ui-datatable-thead {
            > tr {
                > th {
                    background-color: $contentBgColor;
                    padding: $headerPadding;
                    border-color: $contentBorderColor;
                    color: $textColor;
                    
                    &.ui-sortable-column:not(.ui-state-active):hover {
                        background-color: $datatableHoverBgColor;
                    }
                    
                    &.ui-state-active {
                        background-color: $primaryColor;
                        color: $primaryTextColor;
                    }
                                        
                    .ui-column-title {
                        font-weight: 700;
                    }
                }
            }
        }
        
        .ui-datatable-tfoot {
            > tr {
                > td {
                    background-color: #ffffff;
                    padding: $headerPadding;
                    border-color: $contentBorderColor;
                    color: $textColor;
                }
            }
        }
        
        .ui-datatable-data {    
            tr {
                &.ui-datatable-even {
                    background-color: $datatableOddRowBgColor;
                    
                    &.ui-state-highlight {
                        background-color: $primaryColor;
                        color: $primaryTextColor;
                        border-color: darken($primaryColor,5%);
                    }
                }

                &.ui-datatable-odd {
                    background-color: $datatableEvenRowBgColor;

                    &.ui-state-highlight {
                        background-color: $primaryColor;
                        color: $primaryTextColor;
                        border-color: darken($primaryColor,5%);
                    }
                }
                
                &.ui-state-highlight {
                    border-color: darken($primaryColor,5%);
                }
                                                
                td {
                    padding: $contentPadding;
                    
                    &.ui-editable-column {
                        &.ui-cell-editing {
                            .ui-inputtext {
                                border-color: $primaryColor;
                            }
                            
                            .ui-datepicker table td a,
                            .ui-datepicker table td span {
                                min-width: 1.8em;
                            }
                        }
                    }
                    
                    .ui-row-toggler {
                        color: $textColor;
                        @include transition(color .3s);
                        
                        &.fa-chevron-circle-right {
                            @include icon_override("\f054");
                        }
                        
                        &.fa-chevron-circle-down {
                            @include icon_override("\f078");
                        }
                        
                        &:hover {
                            color: $primaryColor;
                        }
                    }
                }
                
                &.ui-widget-header {
                    border: 1px solid $contentBorderColor;
                    
                    a {
                        color: $headerTextColor;
                        @include transition(color .3s);
                        
                        &:hover {
                            color: $primaryColor;
                        }
                    }
                }
            }
            
            &.ui-datatable-hoverable-rows {
                > tr.ui-widget-content:not(.ui-state-highlight):hover {
                    cursor: pointer;
                    background-color: $datatableHoverBgColor;
                }
            }
        }
                
        .ui-datatable-scrollable-header,
        .ui-datatable-scrollable-footer {
            background-color: #f0f3f5;
            
            .ui-datatable-scrollable-header-box {
                td {
                    color: $textColor;
                }
            }
        }
    }
    
    .ui-datagrid {
        .ui-datagrid-header {
            padding: $headerPadding;
        }
        
        .ui-paginator {
            padding: $headerPadding;
        }
        
        .ui-panel-titlebar {
            border-bottom: 1px solid $contentBorderColor;
            color: $textColor;
        }
    }
    
    .ui-datalist {
        .ui-datalist-header {
            padding: $headerPadding;
        }
        
        .ui-paginator {
            padding: $headerPadding;
        }
    }
    
    .ui-datascroller {
        .ui-datascroller-header,
        .ui-datascroller-footer {
            padding: $headerPadding;
        }
    }
    
    .ui-picklist {
        .ui-picklist-buttons {
            button {
                font-size: $fontSize + 2;
            }            
        }
        
        .ui-picklist-caption {
            padding: $headerPadding;
        }
                
        .ui-picklist-list {
            .ui-picklist-item {
                padding: $listItemPadding;
                margin: 0;
                @include border-radius(0);
                
                &:not(.ui-state-highlight):hover {
                    @include list-item-hover();
                }
            }
        }
    }
    
    .ui-orderlist {
        .ui-orderlist-controls {
            margin-right: 10px;
                        
            button {
                font-size: $fontSize + 2;
            }
        }
        
        .ui-orderlist-caption {
            padding: $headerPadding;
            box-sizing: border-box;
            width: 200px;
        }
        
        .ui-orderlist-list {   
            box-sizing: border-box;
                     
            .ui-orderlist-item {
                padding: $listItemPadding;
                margin: 0;
                @include border-radius(0);
                
                &:not(.ui-state-highlight):hover {
                    @include list-item-hover();
                }
            }
        }
        
        &.ui-grid-responsive {
            .ui-grid-row {
                .ui-orderlist-controls {
                    margin-right: 0;
                    padding-right: 10px;
                }
            }
        }
    }
    
    .ui-carousel {
        padding: 0;
        
        .ui-carousel-header {
            padding: $headerPadding;
            margin: 0;
            border: 0 none;
            border-bottom: 1px solid $headerBorderColor;
            @include border-radius(0);
            
            .ui-carousel-header-title {
                padding: 0;
            }
        }
        
        .ui-carousel-footer {
            padding: $headerPadding;
            border: 0 none;
            border-top: 1px solid $headerBorderColor;
            margin: 0;
            @include border-radius(0);
        }
        
        .ui-carousel-button {
            margin-top: .4em;
            @include transition(color .3s);
            
            &.ui-carousel-next-button {
                @include icon-override("\f054");
            }
            
            &.ui-carousel-prev-button {
                @include icon-override("\f053");
            }
                        
            &:not(.ui-state-disabled):hover {
                color: $primaryColor;
            }
        }
        
        .ui-carousel-page-links {
            margin-top: .4em;
            
            .ui-carousel-page-link {
                color: $headerIconColor;
                @include transition(color $transitionDuration);

                &:hover {
                    color: darken($headerIconColor, 10%);
                }
                
                &.fa-dot-circle-o {
                    color: $primaryColor;
                }
            }
        }
    }
    
    .ui-treetable {
        .ui-treetable-header {
            padding: $headerPadding;
        }
        
        .ui-treetable-footer {
            padding: $headerPadding;
        }
                
        thead {
            th {
                background-color: #ffffff;
                padding: $headerPadding;
                border-color: $contentBorderColor;
                color: $textColor;
                
                &.ui-state-hover {
                    @include list-item-hover();
                }
                
                &.ui-state-active {
                    background-color: $primaryColor;
                    border-color: darken($primaryColor,5%);
                }
                
                .ui-column-title {
                    font-weight: 700;
                }
            }
        }
        
        tfoot {
            td {
                background-color: #ffffff;
                padding: $headerPadding;
                border-color: $dividerColor;
            }
        }
        
        tbody {
            > div {
                &.ui-treetable-row-selectable {
                    cursor: pointer;
                    
                    &:not(.ui-state-highlight):hover {
                        background-color: $listItemHoverBgColor;
                        border-color: darken($contentBorderColor,5%);
                    }
                    
                    &.ui-state-highlight {
                        border-color: darken($primaryColor,5%);
                        
                        .ui-treetable-toggler {
                            color: #ffffff;
                        }
                    }
                }
                
                td {
                    padding: $contentPadding;
                    
                    .ui-treetable-toggler {
                        font-size: $fontSize + 2;
                        vertical-align: middle;
                        display: inline-block;
                        float: none;
                        color: $textColor;
                        line-height: inherit;
                    }
                    
                    .ui-treetable-checkbox .ui-chkbox-icon {
                        margin: 0;
                        
                        &.fa-check {
                            color: $primaryColor;
                        }
                    }
                }
            }
        }
    }
    
    .ui-tree {
        padding: .25em .5em;
        
        .ui-treenode {
            padding: .15em 0;
            
            .ui-treenode-content {   
                padding: 0 0 .25em 0;
                         
                .ui-tree-toggler {
                    font-size: $fontSize + 2;
                    vertical-align: middle;
                    display: inline-block;
                    float: none;
                    margin: 0;
                }
                                
                .ui-treenode-icon {
                    vertical-align: middle;
                    display: inline-block;
                    margin: 0;
                    font-size: $fontSize + 2;
                }
                
                .ui-treenode-label {
                    margin: 0;
                    vertical-align: middle;
                    display: inline-block;
                    padding: 0 .25em;
                                        
                    &.ui-state-highlight {
                        @include list-item-highlight();
                    }
                }
                
                .ui-chkbox {
                    margin: 0 .25em;
                    
                    .ui-chkbox-icon {
                        margin: 0;
                    }
                }
                
                &.ui-treenode-selectable {
                    .ui-treenode-label:not(.ui-state-highlight):hover {
                        @include list-item-hover();
                    }
                }
                
                > span {
                    line-height: inherit;
                }
                
                &.ui-treenode-dragover {
                    @include list-item-hover();
                }
            }
        }
                
        &.ui-tree-horizontal {
            padding: .85em 0;
            
            .ui-treenode {
                background: url("../layout/images/tth-connector.png") repeat-x scroll center center transparent;
                
                .ui-treenode-content {
                    padding: $contentPadding;
                    background-color: $contentBgColor;
                    border: 1px solid $contentBorderColor;
                    
                    &.ui-state-highlight {
                        @include list-item-highlight();
                    }
                    
                    .ui-chkbox {
                        .ui-icon {
                            color: $primaryColor;
                        }
                    }
                    
                    .ui-treenode-label:not(.ui-state-highlight):hover {
                        background-color: inherit;
                        color: inherit;
                    }
                    
                    &.ui-treenode-selectable:not(.ui-state-highlight):hover {
                        @include list-item-hover();
                    }
                }
            }
            
            .ui-treenode-connector-line {
                background: url("../layout/images/tth-connector.png") repeat-y scroll 0 0 transparent
            }
        }
    }
    
    .fc {
        .fc-toolbar {
            .ui-icon-circle-triangle-e {
                @include icon_override("\f054");
                height: auto;
                width: auto;
                overflow: visible;
            }
            
            .ui-icon-circle-triangle-w {
                @include icon_override("\f053");
                height: auto;
                width: auto;
                overflow: visible;
            }
        }
        .fc-event-container {
            .fc-event {
                border-color: $primaryColor;
                background-color: darken($primaryColor,5%);
            }
        }
    }
}