$topbarLeftBgColor:#ffffff;
$topbarRightBgColor:#ffffff;
$topbarLeftTextColor:#757575;
$topbarRightTextColor:#757575;
$topbarBorderBottomColor:#dee4e9;
// $primaryColor:#3984b8;
$primaryColor:#73a333;
$primaryTextColor:#ffffff;
// $accentColor:#36ae2c;
$accentColor:#3984b8;
$darkMenuBgColor:#393b3e;
$darkMenuTextColor:#f6f8f9;
$bodyBgColor:#F2F8FA;
 
@import '../../sass/layout/_layout';